In [13]:
import csv, sqlite3

con1 = sqlite3.connect("CENSUS_DATA.db")
census = con1.cursor()
con2 = sqlite3.connect("CHICAGO_PUBLIC_SCHOOLS.db")
school = con2.cursor()
con3 = sqlite3.connect("CHICAGO_CRIME_DATA.db")
crime = con3.cursor()

%load_ext sql
%sql sqlite:///RealWorldData.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @RealWorldData.db'

In [14]:
%sql Select * from CENSUS_DATA limit 0;

 * sqlite:///RealWorldData.db
Done.

[]

In [21]:
%sql Select * from CHICAGO_PUBLIC_SCHOOLS_DATA limit 0;

 * sqlite:///RealWorldData.db
Done.

[]

In [28]:
%sql Select * from CHICAGO_CRIME_DATA limit 0;

 * sqlite:///RealWorldData.db
Done.

[]

In [51]:
%sql Select * from CENSUS_DATA limit 0;

 * sqlite:///RealWorldData.db
Done.

[]

In [53]:
#Problem 1 : Find the total number of crimes recorded in the CRIME table.
%sql select count( DISTINCT ID) as Total_Crime_Number from CHICAGO_CRIME_DATA;

 * sqlite:///RealWorldData.db
Done.

[(533,)]

In [52]:
#Problem 2 : List community areas with per capita income less than 11000.
%sql select DISTINCT(COMMUNITY_AREA_NAME) from CENSUS_DATA where PER_CAPITA_INCOME < 11000 ;

 * sqlite:///RealWorldData.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [54]:
#Problem 3 : List all case numbers for crimes involving minors?
%sql select distinct CASE_NUMBER from CHICAGO_CRIME_DATA where DESCRIPTION LIKE '%MINOR%';

 * sqlite:///RealWorldData.db
Done.

[('HL266884',), ('HK238408',)]

In [60]:
#Problem 4 : List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

%sql select CASE_NUMBER, BLOCK, IUCR,ARREST, DISTRICT, DESCRIPTION from CHICAGO_CRIME_DATA where PRIMARY_TYPE = 'KIDNAPPING';

 * sqlite:///RealWorldData.db
Done.

[('HN144152', '050XX W VAN BUREN ST', '1792', 0, 15, 'CHILD ABDUCTION/STRANGER')]

In [61]:
#Problem 5 : What kind of crimes were recorded at schools?
%sql SELECT DISTINCT(PRIMARY_TYPE), LOCATION_DESCRIPTION, DESCRIPTION FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * sqlite:///RealWorldData.db
Done.

[('BATTERY', 'SCHOOL, PUBLIC, GROUNDS', 'SIMPLE'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING', 'PRO EMP HANDS NO/MIN INJURY'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING', 'SIMPLE'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS', 'TO VEHICLE'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS', 'POSS: HEROIN(WHITE)'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING', 'MANU/DEL:CANNABIS 10GM OR LESS'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS', 'PRO EMP HANDS NO/MIN INJURY'),
 ('CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS', 'TO LAND'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING', 'BOMB THREAT'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PUBLIC, BUILDING', 'BOMB THREAT')]

In [62]:
#Problem 6 :List the average safety score for all types of schools.
%sql SELECT "Elementary, Middle, or High School", AVG(SAFETY_SCORE) AVERAGE_SCORE FROM CHICAGO_PUBLIC_SCHOOLS_DATA GROUP BY "Elementary, Middle, or High School";

 * sqlite:///RealWorldData.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

In [63]:
#Problem 7 :List 5 community areas with highest % of households below poverty line.
%sql select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY from CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5;

 * sqlite:///RealWorldData.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

In [67]:
#Problem 8 : Which community area(number) is most crime prone?
%sql select count(COMMUNITY_AREA_NUMBER) as NUMBER_OF_CRIMES, COMMUNITY_AREA_NUMBER from CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC Limit 1;

 * sqlite:///RealWorldData.db
Done.

[(43, 25.0)]

In [68]:
#Problem 9 : Use a sub-query to find the name of the community area with highest hardship index
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where HARDSHIP_INDEX = (select MAX(HARDSHIP_INDEX) from CENSUS_DATA)

 * sqlite:///RealWorldData.db
Done.

[('Riverdale',)]

In [70]:
#Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where COMMUNITY_AREA_NUMBER = ( select COMMUNITY_AREA_NUMBER from CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(CASE_NUMBER) desc limit 1);

 * sqlite:///RealWorldData.db
Done.

[('Austin',)]